.button-base {
	 -fx-background-color: transparent; /* Color de fondo */
    -fx-background-radius: 40; /* Radio para formar el cilindro */
    -fx-text-fill: black; /* Color del texto */
    -fx-font-size: 30px; /* Tamaño de fuente */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 10, 0.0, 0, 5); /* Sombra */
}
.button:hover {
  -fx-scale-x: 0.9; /* Reducir la escala horizontal */
  -fx-scale-y: 0.9; /* Reducir la escala vertical */
  -fx-transition-duration: 0.8s; /* Duración de la transición */
  -fx-transition-timing-function: ease-in-out; /* Función de temporización de la transición */
}